.hosting-features-area {
    padding-top: 80px;
    padding-bottom: 140px;
    
    h2 {
        color: $primary-dark-color;
        text-align: center;
        max-width: 575px;
        margin: 0 auto 64px;
    }

    .single-features {
        h3 {
            margin-bottom: 20px;
        }

    }

}