.products-info-area {
    padding-top: 190px;
    padding-bottom: 140px;
    @media (max-width: $mobile-max) {
        padding-top: 143px;
        padding-bottom: 48px;
    }

    h2 {
        color: $primary-dark-color;
        margin-bottom: 64px;
        text-align: center;
        @media (max-width: $mobile-max) {
            text-align: left;
            margin-bottom: 26px;
        }
    }
    .single-features {
        .single-features-img {
            height: 130px;
        }
    }
}
