body {
    font-family: $font-family;
    padding: 0;
    margin: 0;
    font-size: $font-size;
    background-color: $back-main-color;
}

.row {
    margin: 0;
}

.container {
    max-width: 77.2%; //1040px
    padding: 0;
    margin: 0 auto;
    @media (max-width: $mobile-max) {
        max-width: 80.2%;
    }
    &--header {
        max-width: 86.1%; //1240px;
        margin: 0 auto;
    }
}

.navbar-style-three .startp-nav {
    padding: 0 !important;
}

.navbar-toggler {
    padding: 0;
}


.row-grid {
    display: grid;
    &.main-banner-grid {
        grid-template-columns: 1fr 1fr;
        gap: 80px;
    }

    &.intro-grid {
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        @media (max-width: $mobile-max) {
            gap: 16px;
        }
    }

    &.why-choose-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 49px; 
        @media (max-width: $mobile-max) {
            gap: 28px;
        }
    }
    @media (max-width: $mobile-max) {
        grid-template-columns: 1fr !important;
        gap: 0px;
        justify-items: center;
    }
    
}


.btn-secondary-green,  .btn-secondary-purple {
    min-width: 160px;
    color: $light-color;
    margin-top: 15px;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-secondary-green {
    background-color: $second-color;
    transition: all ease-in-out .2s;
    &:hover {
        background-color: $primary-dark-color;
        color: $back-main-color;
    }
    @media (max-width: $mobile-max) {
        border-radius: 0px !important;
        padding: 11px 35px !important;
        font-size: 12px !important;
        line-height: 18px !important;
    }
}

.btn-secondary-purple {
    background-color: $primary-dark-color;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
    line-height: normal;
}

.iot-features-area {
    padding-bottom: 125px;
    @media (max-width: $mobile-max) {
        padding-bottom: 54px;
    }
    
}
.row {
    align-items: flex-start;
}

.btn {
    border: none;
    padding: 20px 40px;
    position: relative;
    z-index: 1;
    transition: $transition;
    font-size: $font-size;
    border-radius: 0px;
}

// CUSTOM GRIDS

.grid-row {
    display: grid;
    align-items: flex-start;

    &.template-two {
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        @media (max-width: $mobile-max) {
            grid-template-columns: 1fr;
            justify-items: left;
            text-align: left;
            column-gap: 0px;

        }
    }
    &.template-three {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.grid-reverse {
        flex-direction: row-reverse;
    }
    
    // THEMATIC TEMPLATES
    &.main-banner-grid {
        justify-content: space-between;
    }

}

.flex-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // &.main-banner-block {
    // }
}

// INTRO HOME PAGE

.first-intro-home-block {
    grid-template-areas: 
    "image title"
    "image content"
    "image content"
    "image .";
}

.second-intro-home-block {
    grid-template-areas: 
    "title image"
    "content image"
    ". image";
}

.first-intro-home-block, .second-intro-home-block {
    h3 {
        grid-area: title;
    }
    .iot-features-content {
        grid-area: content;
    }
    p {
        margin-bottom: 28px;
    }
    .iot-features-image {
        grid-area: image;
    }
    @media (max-width: $mobile-max) {
        grid-template-areas: 
            "title"
            "image"
            "content";
    } 
}

.single-features-img {
    text-align: center;
    img {
        height: 100%;
    }
}