$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$mobile-max: 425px;

.container {
    max-width: 77.2%; //1040px
    &--header {
        max-width: 86.1%; //1240px;
        margin: 0 auto;
    }
}

.row-grid {
    display: grid;
    &.main-banner-grid {
        grid-template-columns: 1fr 1fr;
        gap: 80px;
    }

    &.intro-grid {
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        @media (max-width: $mobile-max) {
            gap: 16px;
        }
    }

    &.why-choose-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 49px; 
        @media (max-width: $mobile-max) {
            gap: 28px;
        }
    }
    @media (max-width: $mobile-max) {
        grid-template-columns: 1fr !important;
        gap: 0px;
        justify-items: center;
    }
    
}

span {
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
}

h1 {
    font-size: 75px;
    line-height: 112px;
    font-weight: 700;
    @media (max-width: $mobile-max) {
        font-size: 36px;
        line-height: 54px;
    }
}

h2 {
    line-height: 64.5px;
    font-weight: 700;
    font-size: 43px;
}

.btn-secondary-green,  .btn-secondary-purple {
    color: $light-color;
    margin-top: 15px;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-secondary-green {
    background-color: $second-color;
    transition: all ease-in-out .2s;
    &:hover {
        background-color: $primary-dark-color;
        color: $back-main-color;
    }
}

.btn-secondary-purple {
    background-color: $primary-dark-color;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
    line-height: normal;
}

.iot-features-area {
    padding-bottom: 125px;
    @media (max-width: $mobile-max) {
        padding-bottom: 54px;
    }
    a.btn {
        display: none;
    }
}
.row {
    align-items: flex-start;
}

button, .btn {
    @media (max-width: $mobile-max) {
        border-radius: 0px !important;
        padding: 11px 35px !important;
        font-size: 12px !important;
        line-height: 18px !important;
    }
}
